@model SunriseSunsetForecastModel
@{
    ViewData["Title"] = "Sunrice Sunset Forecast";
}

<div class="text-center">
    <h1 class="display-6 mt-5">Get the sunrise and sunset forecast based on the given information</h1>

    <form method="get" asp-controller="SunriseSunsetForecast" asp-action="GetSunriseSunsetForecast" class="mt-5">
        <div class="form-group">
            @if (ViewBag.Errors.Length > 0)
            {
                foreach (var error in ViewBag.Errors)
                {
                    <p style="color:red">@error</p>
                }
            }
            <label asp-for="GetSunriseSunsetForecastModel.cityName" class="control-label mt-3">City</label>
            <input asp-for="GetSunriseSunsetForecastModel.cityName" class="form-control mt-1" placeholder="e.g. London" />
        </div>

        <div class="form-group">
            <label asp-for="GetSunriseSunsetForecastModel.state" class="control-label mt-3">State</label>
            <input asp-for="GetSunriseSunsetForecastModel.state" class="form-control mt-1" placeholder="e.g. Masovian Voivodeship - Not required field" />
        </div>

        <div class="form-group">
            <label asp-for="GetSunriseSunsetForecastModel.country" class="control-label mt-3">Country</label>
            <input asp-for="GetSunriseSunsetForecastModel.country" class="form-control mt-1" placeholder="e.g. PL - Not required field"/>
        </div>

        <div class="form-group">
            <label asp-for="GetSunriseSunsetForecastModel.date" class="control-label mt-3">Date</label>
            <input asp-for="GetSunriseSunsetForecastModel.date" class="form-control mt-1" type="date" value="@Model.GetSunriseSunsetForecastModel.date.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group">
            <input type="submit" value="Get forecast" class="btn btn-primary mt-5" />
        </div>
    </form>


    @if (Model.DisplaySunriseSunsetForecastModel.cityName != null)
    {
        <p>City: @Model.DisplaySunriseSunsetForecastModel.cityName</p>
        <p>Date: @Model.DisplaySunriseSunsetForecastModel.date</p>
        <p>Additional Info: vhjhjbhjb</p>
    }
</div>
